// UI Theme
// -------------------

// This is the main file that imports all the Less files from the `/styles` directory.

// For more infos about creating themes, check out:
// http://flight-manual.atom.io/hacking-atom/sections/creating-a-theme

@import "styles/ui-variables";
@import "syntax-variables";

@import "styles/base";
@import "styles/buttons";
@import "styles/editor";
@import "styles/find-and-replace";
@import "styles/git";
@import "styles/key-binding";
@import "styles/lists";
@import "styles/panels";
@import "styles/progress";
@import "styles/sites";
@import "styles/status-bar";
@import "styles/tabs";
@import "styles/text";
@import "styles/tooltips";
@import "styles/tree-view";


// Highlight line
.atom-text-editor .line[class*="highlight-line-multi-line-solid-bottom"],
:host .line[class*="highlight-line-multi-line-solid-bottom"],
atom-text-editor .line[class*="highlight-line-multi-line-solid-bottom"],
atom-text-editor::shadow .line[class*="highlight-line-multi-line-solid-bottom"] {
    background-color: fade(@text-color, 5%);
    border-bottom-color: fade(@text-color, 20%);
}

atom-text-editor .indent-guide {
  color: fade(@text-color, 10%);
}

// Gutter

atom-text-editor::shadow .gutter {
    background-color: @app-background-color;
    color: fade(@syntax-gutter-text-color, 20);

    .cursor-line {
        background-color: fade(@text-color, 5%);
        box-shadow: 0 1px 0 fade(@text-color, 20%);
    }
}

//

.pane {
    opacity: 0.6;
    transition: opacity 90ms linear;

    &.active,
    &:hover {
        opacity: 1;
    }
}

.scrollbars-visible-always {
  ::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }

  ::-webkit-scrollbar-track,
  ::-webkit-scrollbar-corner {
    background: @scrollbar-background-color;
  }

  ::-webkit-scrollbar-thumb {
    background: @scrollbar-color;
    border-radius: 5px;
    box-shadow: 0 0 1px black inset;
  }
}
